[submodule "JSTD-Adapter"]
	path = JSTD-Adapter
	url = git://github.com/cpojer/jasmine-jstd-adapter.git
[submodule "JSTestDriver"]
	path = JSTestDriver
	url = git://github.com/cpojer/jstestdriver-build.git
[submodule "Jasmine-Node"]
	path = Jasmine-Node
	url = git@github.com:oelmekki/jasmine-node.git
